<html>
  <head>
    <title>Uyghur Sacramento</title>
    <link href="/static/css/style.css" type="text/css" rel="stylesheet"/>
  </head>

  <body>

    <h1>Uyghur Sacramento</h1>
    <p><i>Assalam Aleikum dostlar!</i></p>
      <ul>
          <li><a href="/static/about_us.html">About us<a/></li>
          <li><a href="/static/become_member.html">Become a member<a/></li>
          <li>Events
              <ul>
                  <li>Sturbacks gettogether
                  <li>Cooking Uighur food
                  <li>Uyghur dance class
                  <li>Weekend hiking activity
                  <li>Uyghur history reading
              </ul>
          <li><a href="/static/photo_album.html">Photo Album<a/></li>
          <li><a href="http://www.farwestchina.com/2010/09/learn-to-speak-uyghur-at-home.html?fb_action_ids=10151137389073731&fb_action_types=og.likes" target="_blank">Source to learn Uyghur language</a></li>
          <li><a href="/static/contact_us.html">Contact us</a></li>
          <li><a href="/static/suggestions.html">Suggestions</a></li>
      </ul>
  </body>

</html>
