<html>
  <head>
    <title>Uyghur Sacramento - A community of Uyghurs and friends</title>
    <link href="gettingstarted/static/css/style.css" type="text/css" rel="stylesheet"/>
  </head>



  <body>

    <h1>Uyghur Sacramento</h1>
        <p><i>Assalam Aleikum dostlar!</i></p>
    <h2>About us</h2>
        <p>Welcome to the Uyghur Sacramento online community. This website serves as a place where people can find out about upcoming Uyghur events and gatherings in Sacramento. We welcome anyone who wants to learn about our culture, traditions, and history. We hope to build a strong and friendly community of Uyghurs who live in Sacramento, San Francisco, and any surrounding areas. Any questions/suggestions can be directed to the website administrator at uyghursacramento@mail.com</p>
        <p>Website Admin.</p>
    <h2>Event's Schedule</h2>
<p><i> To sign up for an event, please click <a href="event_form.html">here</a></i></p>
<img src="gettingstarted/static/images/plov.jpg" class="small" alt="Plov" />
<img src="gettingstarted/static/images/girl_dancer.jpg" class="small" alt="Dancer" />
<img src="gettingstarted/static/images/lagman.jpg" class="small" alt="Lagman" />
        
       <table>
          <tr>
            <th></th>
            <th>Date</th>
            <th>Time</th>
            <th>Address</th>
            <th>Info</th>
          </tr>
          <tr>
            <th>Starbucks Get Together</th>
            <th>Jan 10, 2015</th>
            <th>10:30 am</th>
            <th>6306 Garfield Ave, Sacramento, CA</th>
            <th>Place to meet our old and new friends over coffee or tea.</th>
          </tr> 
          <tr>
            <th>Cooking Uyghur Food</th>           
            <th>TBA</th>
            <th>TBA</th>
            <th>TBA</th>
            <th>TBA</th>
          </tr> 
          <tr>
            <th>Uyghur Dance Class</th>
            <th>TBA</th>
            <th>TBA</th>
            <th>TBA</th>
            <th>TBA</th>
          </tr> 
          <tr>
            <th>Weekend Hiking Activity</th>
            <th>TBA</th>
            <th>TBA</th>
            <th>TBA</th>
            <th>TBA</th>
          </tr> 
          <tr>
            <th>Uyghur History Reading</th>
            <th>TBA</th>
            <th>TBA</th>
            <th>TBA</th>
            <th>TBA</th>
          </tr> 
         
        </table>
  </body>

</html>
