body {
     font-family: arial;
     background-color: rgb(185,179,175);
     }
h1 {
    color: #0088dd;}

a {
   text-decoration: none;
   color: rgb(255,255,255);}
a:hover {
   text-decoration: underline;}

