<html>
  <head>
    <title>Uyghur Sacramento - Sign up for an event</title>
    <link href="css/style.css" type="text/css" rel="stylesheet"/>
  </head>



  <body>
<h1>Join us for a local gathering!</h1>

<p> Please fill out the survey below to join us for an event in the Sacramento area.</p>
<iframe src="https://docs.google.com/a/mail.csuchico.edu/forms/d/1rl9hJ-yEHKHHywRpq7MbMoRgTp7KA43miP6mJTYR8cQ/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
  </body>

</html>
